@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

a,
a::after,
a::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-touch-callout: none;
  cursor: default;
  text-decoration: none;
}

.v-application a {
  color: #fff !important;
}

:root {
  --d-bg-color: #242c31;
  --l-bg-color: #f7f7f7;
  --main: #c1ff02;
  --white: #fff;
  --black: #000;
  --grey: rgba(204, 204, 204, 0.48);
  --safe-top: var(--safe-area-inset-top);
  --safe-bottom: var(--safe-area-inset-bottom);
}


body {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  font-size: 18px;
}

html {
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}


.color-main {
  color: var(--main);
}



// card
.card-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main) !important;
  border-radius: 40px  !important;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); 
  transition: box-shadow 0.3s ease; 
  background-color: #000 !important;
  width: 300px;
  height: 600px;
}

.card-border:hover {
  box-shadow: 0 0 20px rgba(255, 255, 0, 1);
}


// button
.btn-join{
  font-family: 'Inter', sans-serif !important;
  background-color: #c1ff02 !important;
  color: #000 !important;
  border-radius: 15px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-transform: uppercase;
  padding: 25px !important;
}


.main-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  position: relative;
  z-index: 1;
}

.circle-img{
  background-color: #c1ff02;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  right: 0;
  width: 300px;
  height: 300px;
}

.why-section{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.contact-section{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.circle-content-img{
  background-color: #c1ff02;
  // background: linear-gradient(to bottom, #8dbb00, #c1ff02);
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: 45px;
  width: 300px;
  height: 250px;
  box-shadow: 0 0 20px 15px rgba(193, 255, 2, 0.8); 
  transition: box-shadow 0.3s ease;
  animation: shine 4s ease-out infinite;
}

@keyframes shine {

  0% {
    box-shadow: 0 0 20px 15px rgba(193, 255, 2, 0.8); 
  }

  50% {
    box-shadow: 0 0 20px 15px rgba(193, 255, 2, 0.8); 
  }

  100% {
    box-shadow: 0 0 20px 15px rgba(193, 255, 2, 0.8); 
  }
  
}


.join-section{
  position: relative;
}

.join-img{
  position: absolute;
  top: -20px;
  left: -5px;
}

.join-title{
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 4.8rem;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.join-subtitle{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
}
